/* COLORS FOR THE MAIN STYLE SHEET */
/* DO NOT PLACE LAYOUT HERE */

/* GLOBAL */
a {
	color: #8f0222;
}
blockquote {
	border-color: #000;
}

/* CONTAINER STUFF */
#wrapper, body {
	background-color: #f4f4f4;
}

#contentcontainer, #headerbarcontainer, #footercontainer, #footer {
	color: #000;
}

#headerbar {
	background: rgba(244,244,244,0.3);
}

#footer {
	background: rgba(129,191,95,0.8);
}


/* HEADER */
#homelogo {
	color: #455;
}

/* POSTS */
#content {
	background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(168,210,145,0.98) 12%, rgba(129,191,95,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(12%,rgba(168,210,145,0.98)), color-stop(100%,rgba(129,191,95,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(168,210,145,0.98) 12%,rgba(129,191,95,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(168,210,145,0.98) 12%,rgba(129,191,95,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(168,210,145,0.98) 12%,rgba(129,191,95,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(244,244,244,1) 0%,rgba(168,210,145,0.98) 12%,rgba(129,191,95,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#cc81bf5f',GradientType=0 ); /* IE6-9 */
}

/* COMMENTS */

/* OTHER ELEMENTS IN MULTIPLE VIEW */
#page-selector {
	border-color: #8f0222;
}
#page-selector .current-page {	
	color: #000;
}

/* FOOTER */
#footer h2, #comments h3 {
	border-top-color: #8f0222;
}