/*
#body {background-color:#000;}
#wrapper {background-color:#66cc66;}
#headerbar {
	background-color:#bbb;
}
#latestcomments, #inhaltentdecken, #toptagcloud { height:200px; background-color:#aa2222;}
.even {background-color:#22a;}
.odd {background-color:#33b;}
.post .postcontent {background-color:#77e;}
.postside { background-color:#aa6;}
.postmeta {background:#daa;}
*/

.entry-addcomment {
	background: url(images/btn_addcomment.png) left top no-repeat;
	height: 21px;
	width: 23px;
	display: block;
	text-indent: -9999px;
	float: left;
	margin-top: 6px;
}
a.entry-commentcount,
a:hover.entry-commentcount {
	background: url(images/btn_commentcount_large.png) left top no-repeat;
	width: 36px;
	height: 37px;
	display: block;
	float: right;
	text-align: center;
	padding-top: 10px;
	font-size: 11px;
	color: #fff;
}
.entry-meta-comment {
	float: right;
	text-align:right;
	margin-right:15px;
}

/* Dinge, um die Text flieﬂen soll, meist Bilder */
.blockintextlinks
{
	margin: 0px 12px 6px 0px;
	float:left;
}
.blockintextrechts
{
	margin: 0px 0px 6px 12px;
	float:right;
}
.blockintext, .picasaimg
{
	margin: 0px 6px 6px 6px;
	max-height:140px!important;
}

.notfeatured {
	height:32px;
	width:32px;
	margin: 0 5px 5px 0;
	float:left;
	background:url('/global/rating-stern-leer.png');
}
.featured {
	height:32px;
	width:32px;
	margin: 0 5px 5px 0;
	float:left;
	background:url('/global/rating-stern-voll.png');
}