/* MAIN STYLE SHEET */
/* PUT LAYOUT HERE, COLORS IN color.css AND SITE-SPECIFIC STUFF IN user.css */

/*	NOTES

	CSS 3
	* border-radius used for the page selector
	* word-wrap used on some block elements (global stuff)
	* Color gradients
	*/

/* GLOBAL STUFF */
body, div, p, ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, input, label { margin: 0; padding: 0; }
div, p { word-wrap: break-word; }
p, ul, ol { margin-bottom: 10px; }
h5 { font-weight: normal; }
ul, ol { padding-left: 20px; }
ul { 	list-style-type: square; }
li { margin-top: 3px; }
dt { font-weight: bold; margin: 8px 0 3px 0; }
img { border: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
h1, h2, h3, h1 a, h2 a, h3 a { font-family: Georgia, Helvetica, Verdana, Arial, sans-serif; }
blockquote { border-left: 1px solid; padding-left: 15px; }

/* CONTAINER STUFF */

body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 13px;
}
#wrapper {
	margin: auto;
}

#contentcontainer, #headercontainer, #footercontainer {
	width: 100%;
	margin: auto;
	clear: both;
	min-width: 800px;
	max-width: 950px;
}
#headercontainer, #footercontainer {
	position: relative;
}
#headerbarcenter, #footerbarcenter {
	position: relative;
	float: right;
	left: -50%;
}
#headerbar, #footerbar {
	position: relative;
	left: 50%;
}

/* HEADER */
#sitetitle {
	position: absolute;
	top: 15px;
	width: 100%;
	font-size:48px;
	text-align: center;
}
#headerbarcontainer {
	padding: 120px 20px 0px 20px;
	float: left;
	height: 215px;
	width: 910px;
}

#socialcontainer {
	position: absolute;
	top: 15px;
	right: -24px;
	z-index:1;
}

/* FOOTER */
#footerbarcontainer {
	padding: 15px 30px 20px 30px;
	text-align: center;
	float: left;
	width: 890px;
}
#comments h3 {
	padding-top: 10px;
	border-top-width: 1px;
	border-top-style: solid;
}

/* BLOCKS */
.block {
	margin-right: 15px;
	float: left;
}

#headerbar .block {
	max-height: 210px;
	overflow: auto;
}

#headerbar .last {
	margin-right: 0;
}

#headerbar .first.last, #footer .first.last { /* if it's the only block */
	margin: 0;
	max-width: 100%;
}

#headerbar h2, #footerbar h2 {
	font-size: 20px;
	font-weight: normal;
}

.block ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.block ul li {
	margin:0 0 5px 0;
	padding:0;
}
.block ul li h3 {
	font-weight:normal;
	font-size:13px;
}
.block ul li p {
	font-size:11px;
	margin:0;
}

/* SOCIAL NET ICONS */
.socialneticon {
	display: block;
	width: 48px;
	height: 48px;
}

/* POSTS AND SIDEPHOTOS */
.pagination, .postnavi {
	margin: 0;
	padding: 20px 0 0 0;
	float:right;
}
.pagination a:hover, .postnavi a:hover {
	text-decoration: none;
}

.post {
	clear:both;
	padding:15px 40px 15px 40px;
	position:relative;
	min-height:300px;
}

.post.notags  {
	min-height: 90px;
}

.post.blogroll {
	min-height: 100px;
}

.postmeta-title {
	font-weight:normal;
	font-size:36px;
	float: left;
	max-width: 85%;
}
.notags .postmeta-title {
	max-width: 100%;
}
.postmeta-meta {
	clear: both;
}
.event .postmeta-meta {
	font-weight:bold;
	font-size:110%;
}

.postcontent-container {
	position:relative;
	margin-top: 10px;
	margin-bottom: 30px;
}

.postcontent {
	text-align:justify;
}

.withsidecontent {
	margin-right:150px;
}

.postside {
	position:absolute;
	padding: 15px 15px 10px 7px;
	overflow:hidden;
	min-height:200px;
	width:220px;
	top:-15px;
	right:-104px;
	text-align:right;
	max-height:100%;
}

.post img  {
	max-height:400px;
	max-width:400px;
}

.postside-photos img {
	max-width:206px;
}

/* TAGS */
.tag-cloud, .postmeta-tags ul {
	list-style-type:none;
	text-transform:lowercase;
	padding:0;
	margin:0;
}
.tag-cloud li, .postmeta-tags li {
	display:inline;
}

/* COMMENTS */
#comments-headline {
	margin-bottom: 20px; /* disappears when there are comments because of collapsing margins */
}
#comments h3 {
	font-size: 20px;
	font-weight: normal;
}
.comment {
	margin-top: 20px;
	padding: 10px;
}
.comment:after {
	clear:both;
}
.gravatar {
	max-height: 80px;
	max-width: 80px;
	float:left;
}
.gravatar + .comment-main {
	margin-left: 100px;
}
.comment-main {	
	min-height: 90px;
}
.comment-content {
	margin-top: 6px;
}

/* COMMENT FORM */
#comment-form {
	margin-top: 10px;
}

.formcontrol input[type=text], #cf_content {
	width:500px;
	
}
.formcontrol, #cf_content {
	clear:both;
}
.formcontrol label, #cf_content label {
	display: block;
	margin: 8px 0 2px 1px;
}

/* OTHER ELEMENTS IN MULTIPLE VIEW */
#page-selector {
	margin: 10px 170px 0 30px;
	padding: 5px 10px;
	border-top: 1px solid;
}