/* MAIN STYLE SHEET */
/* PUT LAYOUT HERE, COLORS IN color.css AND SITE-SPECIFIC STUFF IN user.css */

/*	NOTES

	CSS 3
	* border-radius used for the page selector
	* word-wrap used on some block elements (global stuff)
	* Color gradients
	*/

/* GLOBAL STUFF */
body, div, p, ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, input, label { margin: 0; padding: 0; }
div, p { word-wrap: break-word; }
p, ul, ol { margin-bottom: 10px; }
h5 { font-weight: normal; }
ul, ol { padding-left: 20px; }
ul { 	list-style-type: square; }
li { margin-top: 3px; }
dt { font-weight: bold; margin: 8px 0 3px 0; }
img { border: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
h1, h2, h3, h1 a, h2 a, h3 a { font-family: Georgia, Helvetica, Verdana, Arial, sans-serif; }
blockquote { border-left: 1px solid; padding-left: 15px; }

/* CONTAINER STUFF */

body { font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 14px; }
#wrapper { margin: auto; }
/* The inner wrapper saves space for the social container and the sidephotos */
@media (min-width:800px) {
	#innerwrapper { padding-right: 64px; }
}
@media (min-width:480px) and (max-width:799px) {
	#innerwrapper { padding-right: 24px; }
}

#contentcontainer, #headercontainer, #footercontainer {
	width: 100%;
	margin: auto;
	clear: both;
	max-width: 950px;
}
#headercontainer, #footercontainer {
	position: relative;
}
#headerbarcenter, #footerbarcenter {
	position: relative;
	float: right;
	left: -50%;
}
#headerbar, #footerbar {
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	left: 50%;
}

/* HEADER */
#sitetitle, #tagline {
	position: absolute;
	top: 15px;
	width: 100%;
	font-size:48px;
	text-align: center;
}
#tagline {
	display: block;
	top: 68px;
	font-size: 32px;
}

#headerbarcontainer {
	padding-top: 120px;
	float: left;
	height: 215px;
	max-width: 950px;
	width: 100%;
}

#socialcontainer {
	position: absolute;
	top: 15px;
	right: -24px;
	z-index:1;
}
.socialneticon {
	display: block;
	width: 48px;
	height: 48px;
}
@media (max-width:479px) {
	#socialcontainer { right: 0px; top: 5px; }
	.socialneticon { float: left; width: 24px; height: 24px; background-size: 24px; }
	#headerbarcontainer { padding-top: 139px; }
	#sitetitle { top: 34px; }
	#tagline { top: 87px; }
}

/* FOOTER */
#footerbarcontainer {
	padding: 15px 0 20px 0;
	text-align: center;
	float: left;
	max-width: 950px;
	width: 100%;
}
#comments h3 {
	padding-top: 10px;
	border-top-width: 1px;
	border-top-style: solid;
}

/* BLOCKS */
.block {
	margin-right: 15px;
	float: left;
	width: 250px;
}
@media (max-width: 640px) {
	.block { margin-right: 0; margin-top: 15px; }
	#headerbarcontainer { min-height: 215px; height: auto; }
}

#headerbar .block {
	max-height: 210px;
	overflow: hidden;
}

#headerbar .last {
	margin-right: 0;
}

#headerbar .first.last, #footer .first.last { /* if it's the only block */
	margin: 0;
	width: auto;
	max-width: 100%;
}

#headerbar h2, #footerbar h2 {
	font-size: 20px;
	font-weight: normal;
}

.block ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.block ul li {
	margin:0 0 5px 0;
	padding:0;
}
.block ul li h3 {
	font-weight:normal;
	font-size:13px;
}
.block ul li p {
	font-size:11px;
	margin:0;
}

/* POSTS AND SIDEPHOTOS */
.pagination, .postnavi {
	float:right;
	margin: 0;
}
.pagination a:hover, .postnavi a:hover {
	text-decoration: none;
}

.post, #comments {
	clear:both;
	padding:15px 40px 15px 50px;
	position:relative;
}
@media (min-height:481px) {
	.post { min-height:300px; }
}

.post.notags  {
	min-height: 90px;
}
.post.notags .postside {
	min-height: 50px;
}

.post.blogroll {
	min-height: 100px;
}

.postmeta-title {
	font-weight:normal;
	font-size:36px;
	float: left;
}
.notags .postmeta-title {
	max-width: 100%;
}
.postmeta-meta {
	clear: both;
}
.event .postmeta-meta {
	font-weight:bold;
	font-size:110%;
}

.postmeta-tags {
	display: inline-block;
	position: absolute;
	left: 10px;
	bottom: 19px;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: left top 0;
}
.postmeta-tags p {
	margin: 0;
	font-size: 90%;
}

.postcontent-container {
	position:relative;
	margin-top: 10px;
	margin-bottom: 30px;
}

.postcontent {
	text-align:justify;
}

/* This is the sidephoto magic. Don't use it if the screen resolution is small. */
@media (min-width:800px) {
	.withsidecontent { margin-right:150px; }
	.postside {
		position:absolute;
		padding: 15px 15px 10px 7px;
		overflow:hidden;
		min-height:200px;
		width:220px;
		top:-15px;
		right:-104px;
		text-align:right;
		max-height:100%;
	}
}

.post img  {
	max-height:400px;
	max-width:400px;
}

.postside-photos img {
	max-width:206px;
}

/* TAGS */
.tag-cloud, .postmeta-tags ul {
	list-style-type:none;
	text-transform:lowercase;
	padding:0;
	margin:0;
}
.tag-cloud li, .postmeta-tags li {
	display:inline;
}

/* COMMENTS */
#comments-headline {
	margin-bottom: 20px; /* disappears when there are comments because of collapsing margins */
}
#comments h3 {
	font-size: 20px;
	font-weight: normal;
}
.comment {
	margin-top: 20px;
	padding: 10px;
}
.comment:after {
	clear:both;
}
.gravatar {
	max-height: 80px;
	max-width: 80px;
	float:left;
}
.gravatar + .comment-main {
	margin-left: 100px;
}
.comment-main {	
	min-height: 90px;
}
.comment-content {
	margin-top: 6px;
}

/* COMMENT FORM */
#comment-form {
	margin-top: 10px;
}

.formcontrol input:not([type=submit]), #cf_content textarea {
	width: 60%;
	
}
.formcontrol, #cf_content {
	clear:both;
}
.formcontrol label, #cf_content label {
	display: block;
	margin: 8px 0 2px 1px;
}

/* OTHER ELEMENTS IN MULTIPLE VIEW */
#page-selector {
	margin: 10px 20% 0 30px;
	padding: 5px 10px;
	border-top: 1px solid;
}